/* -------------------------------- */
/* Custom fonts
/* -------------------------------- */


/* ******************************** */
/* trade-gothic-bold
/* ******************************** */	

@font-face {
   font-family: 'trade-gothic-bold';
      src: url('../Fonts/trade-gothic-bold.eot');
      src: url('../Fonts/trade-gothic-bold.eot?#iefix') format('embedded-opentype'),
           url('../Fonts/trade-gothic-bold.woff') format('woff'),
           url('../Fonts/trade-gothic-bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;} 
